/* Default light mode styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgray;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header {
    background-color: #333;
}
